<!--网站底部-->
<div class="foot">
    <div class="wrap">

        <p class="p_foot_one">公司地址：{$web.address|default='深圳市南山区科兴科学院A2-11XX'} 联系方式：{$web.contactInfo|default='0755-00000000'}</p>
        <p>{$web.copyright|default='CopyRight © 2017 All Right Reserved 深圳市龙猫版权所有'}</p>
        <div class="foot_three">
            <ul>
                <li>
                    <a href="javascript:;">抵制不良游戏</a>
                </li>
                <li>
                    <a href="javascript:;">拒绝盗版游戏</a>
                </li>
                <li>
                    <a href="javascript:;">注意自我保护</a>
                </li>
                <li>
                    <a href="javascript:;">谨防受骗上当</a>
                </li>
                <li>
                    <a href="javascript:;">适度游戏益脑</a>
                </li>
                <li>
                    <a href="javascript:;">沉迷游戏伤身</a>
                </li>
                <li>
                    <a href="javascript:;">合理安排时间</a>
                </li>
                <li>
                    <a href="javascript:;">享受健康生活</a>
                </li>
            </ul>
        </div>
        <p>{$web.recordNum|default='深圳市龙猫游戏设备17064573号'}</p>
    </div>
</div>