<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{$web.newsName|default='新闻中心'}</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body>
		<!--网站顶部-->
		{include file='base/navigationBar'/} <!—引入navigationBar.html-->
		<!--网站banner-->
		{include file='base/carouselimg'/} <!—carouselimg.html-->
		<!--网站内容-->
		<div class="zhuti_content">
			<div class="wrap">
				<div class="zhuti">
					<div class="about_top">
						<p><span>新闻</span>中心</p>
						<p class="p_en">News Center</p>
					</div>
					<div class="newcenter">
						<ul>
							{volist name='list' id='vo'}
								<li>
									<img src="static/news/{$vo.ImgUrl}"/>
									<div class="new_con">
										<a href="newsPage?id={$vo.Id}"><p class="p_new_name">{$vo.Name}</p></a>
										<p class="p_new_detail">{$vo.Content}</p>
										<a href="newsPage?id={$vo.Id}" class="a_xiangqing">查看详细</a>
									</div>
								</li>
							{/volist}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="foot">
			<div class="page">
				{$list->render()|default=''}<!--分页的页码选择-->
			</div>
		</div>
		<!--网站底部-->
		{include file='base/footer'/} <!—footer.html-->
	</body>

</html>
<script type="text/javascript" src="js/jquery.js"></script>
<!--banner js-->
<script type="text/javascript">
	var n = 0;
	var $page = $(".dot span");
	var $li = $(".banner ul li")

	$page.click(function() {
		n = $(this).index();
		slide();
	})
	$(".banner").hover(function() {
		clearInterval(timer);
	}, function() {
		autoPlay();
	})
	$page.hover(function() {
		$(this).addClass("on").siblings().removeClass("on");
	})
	autoPlay();

	function autoPlay() {
		timer = setInterval(function() {
			n++;
			n %= 3;
			slide();
		}, 3000)
	}

	function slide() {
		$page.eq(n).addClass("on").siblings().removeClass("on");
		$li.eq(n).fadeIn().siblings().hide();
	}
</script>
<script type="text/javascript">
	$(function() {
		showScroll();

		function showScroll() {
			$(window).scroll(function() {
				var scrollValue = $(window).scrollTop();
				scrollValue > 100 ? $('.top').fadeOut() : $('.top').fadeIn();
			});
		}
	})
</script>