<!--左导航栏-->
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">系统管理</a>
                <dl class="layui-nav-child ">
                    <dd><a href="SetWebPage">网站设置</a></dd>
                    <!--<dd><a href="">用户管理</a></dd>-->
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">轮播图设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="addCarouselimgPage">新增轮播图</a></dd>
                    <dd><a href="setCarouselimgPage">轮播图管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">游戏中心设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="addGamePage">新增游戏</a></dd>
                    <dd><a href="setGamePage">管理游戏</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">新闻中心设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="addNewsPage">新增新闻</a></dd>
                    <dd><a href="setNewsPage">管理新闻</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">关于我们</a>
                <dl class="layui-nav-child">
                    <dd><a href="setAboutAsPage">管理信息</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">加入我们</a>
                <dl class="layui-nav-child">
                    <dd><a href="addJoinUsPage">新增招聘信息</a></dd>
                    <dd><a href="setJoinUsPage">管理招聘信息</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="adminIndex">后台首页</a></li>-->
            <!--<li class="layui-nav-item"><a href="index">前台首页</a></li>-->
        </ul>
    </div>
</div>